---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador mid-senior",
    company: "Coordinadora Mercantil S.A.S",
    description:
      "Me dedico a desarrollar aplicaciones móviles en el sistema Android, utilizando Kotlin. También me encargo de la creación y la implementación de microservicios con Nodejs y Express.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "feb. 2022 - oct. 2023",
    title: "Desarrollador junior",
    company: "Coordinadora Mercantil S.A.S",
    description:
      "Aqui va ir algo xD",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
