---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador mid-senior",
    company: "Coordinadora Mercantil S.A.S",
    description: "Me dedico a desarrollar aplicaciones móviles en el sistema Android, utilizando Kotlin. También me encargo de la creación y la implementación de microservicios con Nodejs y Express, usando tambien herramientas como Azure DevOps y Google Cloud.",
  },
  {
    date: "feb. 2021 - oct. 2022",
    title: "Desarrollador junior",
    company: "Coordinadora Mercantil S.A.S",
    description: "Dedicado al desarrollo móvil android y Backend. Mucho más por el lado móvil con la tecnología de Kotlin y en el backend trabajé con Nodejs, Express, Next.js, TypeScript, Google Cloud, Firebase.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
